@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{/*reset de todas as configurações do navegador*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #0c0f16;
}

.max-width{
    max-width: 1300px;
    padding: 0 10px;/*padding nulo para o topo e 10 px para as laterais*/
    margin: auto;
}

.navbar .logo a{
    color: #547ec7;
    font-size: 35px;
    font-weight: 500;/*grossura da fonte*/
}

.navbar{
    position: fixed;/*opção de deixar o menu fixo sem rolar com a página*/
    width: 100%;
    z-index: 999;/*mantém o bloco de código com a posição escolhida na hierarquia do código*/
    padding: 20px 0;/*margem interna no bloco apenas no topo e rodapé de 20px*/
    font-family: 'Ubuntu', sans-serif;
    background-color: #121721;
    border-bottom: solid #1b202a ;/*borda somente no rodapé*/
}

.navbar .max-width{
    display: flex;/*coloca os itens do bloco de forma flexível*/
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li{
    list-style: none;/*elimina as bolinhas do menu*/
    display: inline-block;/*coloca os itens em linha, trabalha em conjunto com a propriedade display: flex*/
}

.navbar .menu li a{
    display: block;/*mantém os elementos no bloco*/
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-left: 25px;
}

.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;/*mostra a mãozinha em cima do ícone visualizando como clicável*/
    display: none;
}

@media (max-width: 947px){/*@media é usado para definir as propriedades do mobile*/
    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before{
        content: "\f00d";/*é uma propriedade importado dos ícones do site fontawesome (f00d referência ao nome do ícone acompanhado da \ )*/
    }

    .navbar .menu{
        background-color: #121721;
        position: fixed;
        height: 100vh;/*vh significa o tamanho em relação a viewport(valor de tamanho recebido de uma propriedade superior)*/
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: 0.3s ease;/*transição em efeitos de velocidade ao passar o mouse no menu*/
    }

    .navbar .menu.active{
        left: 0; 
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 13px 0;
        font-size: 25px;
    }

    .max-width{
        max-width: 930px;
    }
}

.top{
    color: white;
    display: flex;
    background: url("../images/banner_top_v5.jpg") no-repeat center;/*chamando a imagem do fundo*/
    height: 100vh;
    min-height: 500px;
    background-size: cover;/*mantém a proporção da imagem cobrindo todo o container*/
    background-attachment: fixed;/*mantém a imagem fixa na tela, não rola junto com a página*/
    font-family: 'Ubuntu', sans-serif;
}

.top .max-width{
    width: 100%;
    display: flex; 
}

.top .top-content .text-1{/*trabalhando os textos principais do site*/
    font-size: 25px;
}

.top .top-content .text-2{
    font-size: 55px;
    font-weight: 400;
    margin-left: -3px;
}

.top .top-content .text-3{
    font-size: 35px;
    margin: 5px 0;
}

.top .top-content a{
    display: inline-block;
    background: #b02ab7;
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 300;
    border-radius: 6px;/*arredondando o botão*/
    border: 2px solid #b02ab7;
    transition: 0.3s ease;
}

.top .top-content a:hover{/*mudando as características de cor ao passar o mouse sobre o botão*/
    color: rgb(221, 221, 212);
    background: none;
}

/*início da seção serviços*/
.services{
    color: white;
    background-color: #0c0f16;
    font-family: 'Poppins', sans-serif;
}

.services .serv-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.services .title{
    text-align: center;
    margin: 40px 0;
    font-weight: 400;
    font-size: 35px;
}

.services .serv-content .card{
    width: calc(33% - 20px);
    background: #1b202a;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
}

.services .serv-content .card:hover{
    background: #b02ab7;
    transition: all 0.3s ease;
}

.services .serv-content .card i{
    font-size: 50px;
    color: #b02ab7;
    transition: all 0.3s ease;
}

.services .serv-content .card:hover i{
    color: #fff;
}

.services .serv-content .card .box{
    transition: all 0.3s ease;
}

.services .serv-content .card:hover .box{
    transform:  scale(1.05);
}

.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

@media(max-width: 947px){
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media(max-width: 690px){
    .services .serv-content .card{
        width: 100%;
    }
}

